body {
    font-family: "Lato", sans-serif;
}

#page-wrapper {
    background-color: rgb(0, 0, 0, 1);
}
#page-wrapper::after {
    content: "";
    background-image: url("../img/nature.jpg");
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
.header {
    background-color: #5f7161;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 9999;
    border-radius: 8px;
}
.sidebar {
    background-color: #6d8b74;
    min-height: 100vh;
    padding: 20px;
    width: 15%;
    position: fixed;
    left: 5%;
}
.content {
    position: relative;
    left: 25%;
    margin: 10px;
    width: 70%;
    color: white;
}
.navbar-link {
    text-decoration: none;
    /* border-style: solid; */
    padding: 10px;
    border-radius: 5px;
    /* border-color: #CC9C75; */
    margin: 0 5px 0 5px;
    color: black;
    cursor: pointer;
}
.navbar-link:hover {
    background-color: #cc9c75;
}
.link-profile {
    margin: 3px;
    text-decoration: none;
}
p{
    text-align: justify;
}
@media screen and (max-width: 1080px) {
    .sidebar {
        display: none;
    }
    .content {
        left: 0;
        width: 90%;
    }
}